@charset "UTF-8";
/*Archivos parciales - segmentación de estilos y funcionalidades*/
/* Variables fuentes */
/* Colores */
/* Dark mode */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap");
@media (min-width: 1000px) {
  .gifTcard {
    background-color: #572EE5;
    border: 2px solid purple;
    height: 275px;
    opacity: 0.6;
    width: 357px;
  }
  .btnHover {
    background-color: white;
    border-radius: 6px;
    height: 32px;
    opacity: 0.7;
    position: relative;
    width: 32px;
  }
  .btnHover:hover {
    cursor: pointer;
    opacity: 1;
  }
  .userName {
    bottom: 76px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    position: relative;
    right: 120px;
    top: 140px;
  }
  .gifTitle {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 5%;
    position: relative;
    right: 22px;
    top: 160px;
  }
  .gifScard {
    background-color: #572EE5;
    border: 2px solid purple;
    bottom: 205px;
    height: 200px;
    opacity: 0.6;
    padding-top: 10px;
    position: relative;
    width: 260px;
    z-index: 3;
  }
  .userSName {
    bottom: 76px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding-left: 8%;
    position: relative;
    right: 60px;
    top: 85px;
  }
  .gifSTitle {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 8%;
    position: relative;
    right: 22px;
    top: 90px;
  }
  .videoPurpleScreen {
    background-color: #572EE5;
    border: 2px solid purple;
    height: 320px;
    opacity: 0.7;
    width: 480px;
  }
  .textPurpleScreen {
    color: #572EE5;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    top: 50px;
    z-index: 3;
  }
}

body.dark #overlay {
  background-color: #37383C;
}

body.dark #overlay .slideshow {
  background-color: #37383C;
}

body.dark #overlay .slideshow #btnCloseMax #btnCloseM {
  display: none;
}

body.dark #overlay .slideshow #btnCloseMax #btnCloseMD {
  display: block;
}

body.dark #overlay .slideshow .captions .infoMax #userMax {
  color: white;
}

body.dark #overlay .slideshow .captions .infoMax #titleMax {
  color: white;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  visibility: hidden;
}

#overlay .slideshow {
  width: 70%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#overlay .slideshow #gifMax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 245px;
  left: 17%;
  margin-left: 20px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: 10%;
  width: 318px;
}

#overlay .slideshow #btnCloseMax {
  position: absolute;
  top: -15%;
  right: -10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  height: 20px;
  width: 20px;
}

#overlay .slideshow #btnCloseMax:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

#overlay .slideshow #btnCloseMax #btnCloseM {
  display: block;
}

#overlay .slideshow #btnCloseMax #btnCloseMD {
  display: none;
}

#overlay .slideshow .captions .infoMax {
  margin-left: 20px;
}

#overlay .slideshow .captions .infoMax #userMax {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
  right: 280px;
  top: 290px;
}

#overlay .slideshow .captions .infoMax #titleMax {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  right: 280px;
  top: 300px;
}

#overlay .slideshow .captions #iconsMax {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: -20px;
  position: absolute;
  top: 300px;
  width: 85px;
}

#overlay .slideshow .captions #iconsMax .btnFavMax {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 18px;
  width: 20px;
}

#overlay .slideshow .captions #iconsMax .btnDownloadMax {
  border: solid 1px #9CAFC3;
  border-radius: 6px;
  cursor: pointer;
  height: 36px;
  opacity: 0.5;
  width: 36px;
}

/* Desktop 1000px*/
@media (min-width: 1000px) {
  #overlay {
    background-color: white;
  }
  #overlay .slideshow {
    background-color: white;
    top: -110px;
  }
  #overlay .slideshow #gifMax {
    height: 385px;
    left: 18%;
    top: 22%;
    width: 695px;
  }
  #overlay .slideshow #btnCloseMax {
    height: 16px;
    right: -2%;
    width: 16px;
    top: 35px;
  }
  #overlay .slideshow #btnCloseMax #btnCloseM {
    display: block;
  }
  #overlay .slideshow #btnCloseMax #btnCloseMD {
    display: none;
  }
  #overlay .slideshow .captions .infoMax #userMax {
    right: 515px;
    top: 490px;
  }
  #overlay .slideshow .captions .infoMax #titleMax {
    right: 515px;
    top: 500px;
  }
  #overlay .slideshow .captions #iconsMax {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 480px;
    width: 93px;
  }
  #overlay .slideshow .captions #iconsMax .btnFavMax, #overlay .slideshow .captions #iconsMax .btnTrashMax {
    border: solid 1px #CED7E1;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    opacity: 0.5;
    right: 15%;
    top: 130%;
    width: 36px;
  }
  #overlay .slideshow .captions #iconsMax .btnDownloadMax {
    border: solid 1px #9CAFC3;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    opacity: 0.5;
    width: 36px;
  }
}

body.dark main #container-search .inputOpen {
  border: 1px solid white;
}

.inputOpen {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  border: 1px solid #572EE5;
  border-radius: 0px 0px 27px 27px;
  border-collapse: collapse;
  border-top: hidden;
  color: #9CAFC3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 23.5px;
  position: relative;
  text-decoration: none;
  z-index: 2;
}

.inputOpen li {
  list-style: none;
}

.boxsearch {
  margin: 0 auto;
  height: 50px;
  width: 334px;
}

.boxsearch input {
  padding-left: 10px;
}

.boxsearch #iconsearch2dark {
  display: none;
}

.boxsearch #hugeListLine {
  color: #9CAFC3;
  width: 85%;
}

.boxsearch .src {
  border: 1px solid #572EE5;
  border-radius: 27px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  height: 50px;
  padding-right: 80px;
  width: 334px;
}

.boxsearch .src::-webkit-input-placeholder {
  color: #6B7989;
  font-size: 16px;
  text-align: center;
}

.boxsearch .src:-ms-input-placeholder {
  color: #6B7989;
  font-size: 16px;
  text-align: center;
}

.boxsearch .src::-ms-input-placeholder {
  color: #6B7989;
  font-size: 16px;
  text-align: center;
}

.boxsearch .src::placeholder {
  color: #6B7989;
  font-size: 16px;
  text-align: center;
}

.boxsearch .srcOpen {
  border-radius: 27px 27px 0px 0px;
  border-bottom: none;
  border-collapse: collapse;
}

.boxsearch #btnSearch {
  border: none;
  cursor: pointer;
  position: relative;
  left: 145px;
  top: -35px;
  z-index: 2;
}

.boxsearch #btnClose {
  border: none;
  cursor: pointer;
  position: relative;
  left: 123px;
  top: -39px;
  z-index: 2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile first 375px*/
header {
  background-color: white;
  border-top: 5px solid #572EE5;
  height: 100px;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

body.dark header {
  background-color: #37383C;
  border-top: 5px solid #000000;
}

body.dark header .navbar-container {
  background-color: #37383C;
}

body.dark header hr {
  border: 1px solid #9CAFC3;
  margin: 0 auto;
  opacity: 0.5;
  width: 41px;
}

body.dark header #container-logo #gifos {
  color: white;
}

body.dark header #burgerdark {
  display: block;
}

body.dark header #burger {
  display: none;
}

body.dark header #closedark {
  display: block;
}

body.dark header #closeicon {
  display: none;
}

body.dark header .navbar-link {
  color: white;
}

body.dark header .navbar-link:active {
  background-color: #9CAFC3;
}

body.dark header .btn-mygifos {
  background-color: #37383C;
  border: 1px solid white;
}

body.dark header .btn-mygifos #pluswhite {
  display: block;
}

body.dark header .btn-mygifos #plus {
  display: none;
}

body.dark header .btn-mygifos:hover {
  background-color: white;
}

body.dark header .btn-mygifos:hover #plusblack {
  display: block;
}

body.dark header .btn-mygifos:hover #pluswhite {
  display: none;
}

body.dark header .btn-mygifos:active {
  background-color: #9CAFC3;
}

body.dark header .btn-mygifos:active #plusblack {
  display: none;
}

body.dark header .btn-mygifos:active #pluswhite {
  display: block;
}

header #container-logo {
  height: 48.8px;
  margin: 29px 245px 30px 5px;
  width: 48.8px;
}

header #container-logo #gifos {
  color: #572EE5;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  right: -5px;
  top: -33px;
  z-index: 2;
}

header #container-logo #gifos:hover {
  color: #50E3C2;
  cursor: pointer;
}

header #logodesktop {
  display: none;
}

header #navbar-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .navbar-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  position: absolute;
  top: 100px;
  -webkit-transition: height 0.7s ease;
  transition: height 0.7s ease;
  width: 100%;
  z-index: 3;
}

header #burgerdark {
  display: none;
}

header #closedark {
  display: none;
}

header li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  list-style: none;
  margin-top: 17px;
}

header a {
  text-decoration: none;
}

header hr {
  color: white;
  margin: 0 auto;
  width: 45px;
}

header .navbar-link {
  color: white;
  padding-top: 20px;
}

header .navbar-link:hover {
  -webkit-text-decoration: underline #50E3C2;
          text-decoration: underline #50E3C2;
}

header .navbar-link:active {
  color: #9CAFC3;
}

header #navbar-header:target .navbar-container {
  height: 484px;
}

header #navbar-header:target .open {
  display: none;
}

header #navbar-header:target .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .close {
  display: none;
}

header .btn-mygifos {
  display: none;
}

/* Desktop 1000px*/
@media (min-width: 1000px) {
  header {
    background-color: white;
    height: 90px;
  }
  header #container-logo {
    margin-top: 18px;
    margin-left: 156px;
  }
  header #container-logo #gifos {
    font-size: 18px;
    right: -10px;
    top: -35px;
  }
  header #logomobile {
    display: none;
  }
  header #logodesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar-menu-mobile {
    display: none;
  }
  header .navbar-container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
    width: 100%;
  }
  header a {
    border: none;
  }
  header hr {
    display: none;
  }
  header .navbar-link {
    color: #572EE5;
    font-size: 13px;
    padding-left: 45px;
    text-transform: uppercase;
  }
  header .btn-mygifos {
    border: 1px solid #572EE5;
    border-radius: 100%;
    display: block;
    height: 54px;
    margin: 23px 156px 18px 53px;
    padding: 19px;
    width: 54px;
  }
  header .btn-mygifos #pluswhite {
    display: none;
  }
  header .btn-mygifos:hover {
    background-color: #572EE5;
  }
  header .btn-mygifos:hover #pluswhite {
    display: block;
  }
  header .btn-mygifos:hover #plus {
    display: none;
  }
  header .btn-mygifos:active {
    background-color: #9CAFC3;
  }
  header .btn-mygifos #plusblack {
    display: none;
  }
}

.gridFormat {
  -webkit-column-gap: 21px;
          column-gap: 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 46px 21px 78px 21px;
  row-gap: 25px;
}

.gridFormat img {
  height: 120px;
  width: 156px;
}

@media (min-width: 1000px) {
  .gridFormat {
    -webkit-column-gap: 29px;
            column-gap: 29px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    margin: 46px 100px 78px 98px;
    row-gap: 28px;
  }
  .gridFormat img {
    height: 200px;
    width: 260px;
  }
}

/* Mobile first 375px*/
body {
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

body.dark {
  background-color: #37383C;
}

main {
  min-height: 900px;
  text-align: center;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

body.dark main #container-search h1 {
  color: white;
}

body.dark main #container-search #btnSearch #iconsearch1 {
  display: none;
}

body.dark main #container-search #btnSearch #iconsearch2dark {
  display: block;
}

body.dark main #container-search #btnClose #btn-close {
  display: none;
}

body.dark main #container-search #btnClose #btn-close-dark {
  display: block;
}

body.dark main #container-search .src {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #container-search .src::-webkit-input-placeholder {
  color: #9CAFC3;
}

body.dark main #container-search .src:-ms-input-placeholder {
  color: #9CAFC3;
}

body.dark main #container-search .src::-ms-input-placeholder {
  color: #9CAFC3;
}

body.dark main #container-search .src::placeholder {
  color: #9CAFC3;
}

body.dark main #container-search #huge_list {
  background-color: #37383C;
}

body.dark main #container-search h3 {
  color: white;
}

body.dark main #container-search hr {
  border: 1px solid white;
}

body.dark main #container-search #trendingSection {
  color: white;
  cursor: pointer;
}

body.dark main #container-search #searchTitle {
  color: white;
}

body.dark main #container-search #noResults #lineNoResults {
  border: 1px solid white;
}

body.dark main #container-search #noResults #lorem {
  color: white;
}

body.dark main #container-search .btn-ver {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #container-search .btn-ver:hover {
  color: #000000;
  background-color: white;
}

body.dark main #fav h2 {
  color: white;
}

body.dark main #fav #container-fav {
  height: 382px;
}

body.dark main #fav .btn-ver {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #fav .btn-ver:hover {
  color: #000000;
  background-color: white;
}

body.dark main #mine h2 {
  color: white;
}

body.dark main #mine .btn-ver {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #mine .btn-ver:hover {
  color: #000000;
  background-color: white;
}

body.dark main #create {
  height: 572px;
}

body.dark main #create #cameraimg {
  display: none;
}

body.dark main #create #cameraimgdark {
  display: inline;
  left: -452px;
  position: relative;
  top: 140px;
}

body.dark main #create #tapeimg {
  display: none;
}

body.dark main #create #tapeimgdark {
  bottom: 255px;
  display: inline;
  left: 480px;
  position: relative;
}

body.dark main #create #screen-container {
  border: 1px solid white;
}

body.dark main #create #screen-container h2 {
  color: white;
}

body.dark main #create #screen-container p {
  color: white;
}

body.dark main #create #number-counting .btn-counting {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #create #number-counting .btn-counting:hover {
  background-color: white;
  color: #000000;
}

body.dark main #create #number-counting .btn-counting:active {
  background-color: #9CAFC3;
  color: white;
}

body.dark main #create hr {
  border: 4px solid white;
}

body.dark main #create .btnCreate {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #create .btnCreate:hover {
  color: #000000;
  background-color: white;
}

body.dark main #create .btnCreate:active {
  color: white;
  background-color: #9CAFC3;
}

body.dark main #gallery {
  background-color: #222326;
}

body.dark main #gallery h2 {
  color: white;
}

body.dark main #gallery #galleryText {
  color: white;
}

body.dark main #gallery #btn-slider-left {
  background-color: #222326;
  border: 1px solid white;
}

body.dark main #gallery #btn-slider-left #imgLeft {
  display: none;
}

body.dark main #gallery #btn-slider-left #imgLeftHover {
  display: inline;
}

body.dark main #gallery #btn-slider-left:hover {
  background-color: white;
}

body.dark main #gallery #btn-slider-left:hover #imgLeftDark {
  display: inline;
}

body.dark main #gallery #btn-slider-left:hover #imgLeftHover {
  display: none;
}

body.dark main #gallery #btn-slider-left:active {
  background-color: #9CAFC3;
}

body.dark main #gallery #btn-slider-left:active #imgLeftDark {
  display: none;
}

body.dark main #gallery #btn-slider-left:active #imgLeftHover {
  display: inline;
}

body.dark main #gallery #btn-slider-right {
  background-color: #222326;
  border: 1px solid white;
}

body.dark main #gallery #btn-slider-right #imgRight {
  display: none;
}

body.dark main #gallery #btn-slider-right #imgRightHover {
  display: inline;
}

body.dark main #gallery #btn-slider-right:hover {
  background-color: white;
}

body.dark main #gallery #btn-slider-right:hover #imgRightDark {
  display: inline;
}

body.dark main #gallery #btn-slider-right:hover #imgRightHover {
  display: none;
}

body.dark main #gallery #btn-slider-right:active {
  background-color: #9CAFC3;
}

body.dark main #gallery #btn-slider-right:active #imgRightDark {
  display: none;
}

body.dark main #gallery #btn-slider-right:active #imgRightHover {
  display: inline;
}

body.dark main #gallery p {
  color: white;
}

body.dark main #gallery #trending-slider {
  background-color: #222326;
}

main #container-search {
  min-height: 470px;
}

main #container-search h1 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 35px;
  margin: 7px 44px 31px 45px;
}

main #container-search h1 br {
  display: none;
}

main #container-search span {
  color: #50E3C2;
}

main #container-search #guys {
  position: relative;
  top: 4px;
  height: 130px;
  width: 273px;
}

main #container-search h3 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 36px;
  height: 25px;
}

main #container-search .boxsearch #btnSearch {
  background-color: transparent;
}

main #container-search .boxsearch #btnClose {
  background-color: transparent;
  display: none;
}

main #container-search #trendingSection {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
  margin: auto;
  min-height: 50px;
  padding-bottom: 35px;
  text-transform: capitalize;
  width: 225px;
}

main #container-search #trendingSection li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

main #container-search hr {
  border: 1px solid #9CAFC3;
  margin: 0 auto;
  opacity: 0.5;
  width: 157px;
}

main #container-search #searchTitle {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  padding-top: 43px;
}

main #container-search #activeSearch {
  display: none;
}

main #container-search #noResults #lineNoResults {
  border: 1px solid #9CAFC3;
  opacity: 0.5;
  width: 157px;
}

main #container-search #noResults #lorem {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin: 50px;
}

main #container-search #noResults #tryAnother {
  color: #50E3C2;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bolder;
  margin: 30px;
}

main #container-search .btn-ver {
  background-color: white;
  border: 1px solid #572EE5;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 79px;
  padding: 18px 31.5px 16px 32.5px;
  text-decoration: none;
}

main #container-search .btn-ver:hover {
  background-color: #572EE5;
  color: white;
}

main #fav {
  min-height: 610px;
}

main #fav #icon-favoritos {
  margin: 5px 7px;
}

main #fav h2 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

main #fav #noFav img {
  margin-bottom: 24px;
  margin-top: 110px;
}

main #fav #noFav #textnoFav {
  color: #50E3C2;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

main #fav .btn-ver {
  background-color: white;
  border: 1px solid #572EE5;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 18px 31.5px 16px 32.5px;
  text-decoration: none;
}

main #fav .btn-ver:hover {
  background-color: #572EE5;
  color: white;
}

main #mine {
  min-height: 610px;
}

main #mine #icon-mis-gifos {
  margin: 5px 6px;
}

main #mine h2 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

main #mine #noMine img {
  margin-bottom: 24px;
  margin-top: 110px;
}

main #mine #noMine #textnoMine {
  color: #50E3C2;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

main #mine .btn-ver {
  background-color: white;
  border: 1px solid #572EE5;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 18px 31.5px 16px 32.5px;
  text-decoration: none;
}

main #mine .btn-ver:hover {
  background-color: #572EE5;
  color: white;
}

main #gallery {
  background-color: #F3F5F8;
  height: 430px;
}

main #gallery h2 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 46px;
}

main #gallery #galleryText {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 7px 21px 32px 21px;
}

main #gallery .btn-slider {
  display: none;
}

main #gallery #trending-slider {
  background-color: aliceblue;
  overflow-x: auto;
}

main #gallery #trending-slider::-webkit-scrollbar {
  width: 0;
}

main #gallery #trending-slider #track {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-left: 22px;
}

main #gallery #trending-slider #track img {
  height: 187px;
  margin-right: 22px;
  width: 243px;
  position: relative;
  z-index: 3;
}

/* Desktop 1366px*/
@media (min-width: 1366px) {
  main #container-search {
    min-height: 665px;
  }
  main #container-search h1 {
    font-size: 35px;
    line-height: 50px;
    margin-top: 76px;
    margin-bottom: 24px;
  }
  main #container-search h1 br {
    display: block;
  }
  main #container-search #guys {
    height: 190px;
    width: 399px;
  }
  main #container-search .boxsearch {
    width: 551px;
  }
  main #container-search .boxsearch #search {
    padding-right: 300px;
    width: 551px;
  }
  main #container-search .boxsearch #btnSearch {
    left: 245px;
  }
  main #container-search #searchTitle {
    font-size: 35px;
  }
  main #container-search h3 {
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 73px;
  }
  main #container-search #trendingSection {
    font-size: 16px;
    width: 402px;
  }
  main #create {
    max-height: 572px;
  }
  main #create #cameraimg {
    left: -452px;
    position: relative;
    top: 140px;
  }
  main #create #cameraimgdark {
    display: none;
  }
  main #create #luzimg {
    left: -455px;
    position: relative;
    top: 137px;
    height: 151px;
    width: 91px;
  }
  main #create #screen-container {
    border: 1px solid #572EE5;
    height: 390px;
    margin: 4px auto 29px auto;
    position: relative;
    top: -140px;
    width: 688px;
  }
  main #create #screen-container #frame1 {
    border-left: 1px solid #50E3C2;
    border-top: 1px solid #50E3C2;
    height: 25px;
    margin: 20px;
    width: 27px;
  }
  main #create #screen-container #frame2 {
    border-right: 1px solid #50E3C2;
    border-top: 1px solid #50E3C2;
    height: 27px;
    left: 620px;
    margin: 20px;
    position: relative;
    top: -45px;
    width: 25px;
  }
  main #create #screen-container #frame3 {
    border-bottom: 1px solid #50E3C2;
    border-left: 1px solid #50E3C2;
    height: 27px;
    margin: 20px;
    position: relative;
    top: -358px;
    width: 25px;
    z-index: 3;
  }
  main #create #screen-container #frame4 {
    border-bottom: 1px solid #50E3C2;
    border-right: 1px solid #50E3C2;
    height: 25px;
    margin: 20px;
    margin-left: 641px;
    position: relative;
    top: -402px;
    width: 27px;
    z-index: 3;
  }
  main #create #screen-container h2 {
    color: #572EE5;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    line-height: 35px;
    margin: 134px 68px 3px 70px;
    position: relative;
    text-align: center;
    top: -90px;
  }
  main #create #screen-container h2 span {
    color: #50E3C2;
  }
  main #create #screen-container .textVideo {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    top: -85px;
  }
  main #create #screen-container #video {
    bottom: 326px;
    height: 320px;
    position: relative;
    width: 480px;
  }
  main #create #screen-container #videoSuccessUpload #check {
    position: relative;
    right: 30px;
    top: 30px;
  }
  main #create #screen-container #videoSuccessUpload #btnDownloadC {
    background-color: white;
    border-radius: 6px;
    height: 32px;
    opacity: 0.7;
    position: relative;
    left: 55%;
    top: -416px;
    width: 32px;
    z-index: 5;
  }
  main #create #screen-container #videoSuccessUpload #btnDownloadC:hover {
    cursor: pointer;
    opacity: 1;
  }
  main #create #screen-container #videoSuccessUpload #btnLinkC {
    background-color: white;
    border-radius: 6px;
    height: 32px;
    opacity: 0.7;
    position: relative;
    left: 27%;
    top: -69px;
    width: 32px;
    z-index: 5;
  }
  main #create #screen-container #videoSuccessUpload #btnLinkC:hover {
    cursor: pointer;
    opacity: 1;
  }
  main #create #number-counting .btn-counting {
    background-color: white;
    border: 1px solid #572EE5;
    border-radius: 100%;
    color: #572EE5;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    height: 32px;
    margin-right: 25px;
    position: relative;
    top: -140px;
    width: 32px;
  }
  main #create #number-counting .btn-counting:hover {
    background-color: #572EE5;
    color: white;
  }
  main #create #timeStamp {
    bottom: 166px;
    color: #572EE5;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 310px;
  }
  main #create hr {
    border: 4px solid #572EE5;
    margin: 19px auto 20px auto;
    position: relative;
    top: -140px;
    width: 790px;
  }
  main #create #tapeimg {
    position: relative;
    left: 480px;
    bottom: 255px;
  }
  main #create #tapeimgdark {
    display: none;
  }
  main #create .btnCreate {
    background-color: white;
    border: 1px solid #572EE5;
    border-radius: 25px;
    color: #572EE5;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 13px;
    height: 50px;
    position: relative;
    top: -227px;
    width: 127px;
  }
  main #create .btnCreate:hover {
    color: white;
    background-color: #572EE5;
  }
  main #create .btnCreate:active {
    color: white;
    background-color: #9CAFC3;
  }
  main #create #btn-repeat {
    background-color: white;
    border-bottom: 2px solid #50E3C2;
    border-left: none;
    border-right: none;
    border-top: none;
    bottom: 309px;
    color: #572EE5;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: bolder;
    left: 237px;
    position: relative;
  }
  main #gallery {
    height: 640px;
  }
  main #gallery h2 {
    font-size: 25px;
  }
  main #gallery #galleryText {
    font-size: 18px;
  }
  main #gallery #galleryText br {
    display: none;
  }
  main #gallery #btn-slider-left {
    background-color: white;
    border: 1px solid #572EE5;
    display: block;
    height: 40px;
    position: relative;
    right: -3%;
    top: 35%;
    width: 40px;
    z-index: 2;
  }
  main #gallery #btn-slider-left #imgLeftHover {
    display: none;
  }
  main #gallery #btn-slider-left #imgLeftDark {
    display: none;
  }
  main #gallery #btn-slider-left:hover {
    background-color: #572EE5;
  }
  main #gallery #btn-slider-left:hover #imgLeft {
    display: none;
  }
  main #gallery #btn-slider-left:hover #imgLeftHover {
    display: inline;
  }
  main #gallery #btn-slider-left:active {
    background-color: #9CAFC3;
  }
  main #gallery #btn-slider-right {
    background-color: white;
    border: 1px solid #572EE5;
    display: block;
    height: 40px;
    left: 92%;
    position: relative;
    top: -26%;
    width: 40px;
    z-index: 3;
  }
  main #gallery #btn-slider-right #imgRightHover {
    display: none;
  }
  main #gallery #btn-slider-right #imgRightDark {
    display: none;
  }
  main #gallery #btn-slider-right:hover {
    background-color: #572EE5;
  }
  main #gallery #btn-slider-right:hover #imgRight {
    display: none;
  }
  main #gallery #btn-slider-right:hover #imgRightHover {
    display: inline;
  }
  main #gallery #btn-slider-right:active {
    background-color: #9CAFC3;
  }
  main #gallery #trending-slider {
    margin-right: 100px;
    padding: 53px 100px 0 65px;
    width: 1250px;
  }
  main #gallery #trending-slider #track {
    overflow: hidden;
    padding-left: 30px;
    margin-left: 50px;
  }
  main #gallery #trending-slider #track div img {
    height: 275px;
    margin-right: 22px;
    width: 357px;
  }
}

/* Mobile first 375px*/
footer {
  background-color: white;
  border-bottom: 5px solid #572EE5;
  font-family: "Roboto", sans-serif;
  height: 204px;
}

body.dark footer {
  background-color: #37383C;
  border-bottom: 5px solid #000000;
}

body.dark footer .r15px {
  color: white;
}

body.dark footer .r14px {
  color: white;
}

body.dark footer #socialmedia i {
  color: #CDD6E0;
}

body.dark footer #socialmedia i:hover {
  color: white;
}

footer .r15px {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0 auto;
  padding-top: 47px;
  text-align: center;
}

footer #socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 24px 139px 46px 140px;
}

footer #socialmedia i {
  color: #CDD6E0;
}

footer #socialmedia i:hover {
  color: #572EE5;
}

footer .r14px {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 47.8px 76px 28px 83px;
  text-align: center;
}

/* Desktop 1000px*/
@media (min-width: 1000px) {
  footer {
    height: 116px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .r15px {
    font-size: 13px;
    margin: 49.5px 17px 48.3px 150px;
    padding: 0;
  }
  footer #socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    width: 96px;
  }
  footer #socialmedia a {
    height: 20px;
    width: 20px;
  }
  footer .r14px {
    font-size: 13px;
    margin: 49.5px 158px 51.5px 630px;
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */