//Hover de Gifs

//Diseño de tarjeta morada trending gif - mouse over //// No funciona adecuadamente
@media (min-width: 1366px){ 
    .gifTcard{
        background-color: $color-secondary;
        border: 2px solid purple;
        height: 275px;
        opacity: 0.6;
        width: 357px;
    }

    .btnHover{
        background-color: $color-primary;
        border-radius: 6px;
        height: 32px;
        opacity: 0.7;
        position: relative;
        width: 32px;
            &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
    
    .userName{
        bottom: 76px;
        color: white;
        font-family: $font-secondary;
        font-size: 15px;
        position: relative;
        right: 120px;
        top: 140px;
    }

    .gifTitle{
        color: white;
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: bolder;
        padding-left: 5%;
        position: relative;
        right: 22px;
        top: 160px;
    }


//Diseño de tarjeta morada searched gifs
.gifScard{
    background-color: $color-secondary;
    border: 2px solid purple;
    bottom: 205px;
    height: 200px;
    opacity: 0.6;
    padding-top: 10px;
    position: relative;
    width: 260px;
    z-index: 3;
}

.userSName{
    bottom: 76px;
    color: white;
    font-family: $font-secondary;
    font-size: 15px;
    padding-left: 8%;
    position: relative;
    right: 60px;
    top: 85px;
}

.gifSTitle{
    color: white;
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 8%;
    position: relative;
    right: 22px;
    top: 90px;
}

//Diseño de pantalla morada upload 'Mis Gifos'

    .videoPurpleScreen{
        background-color: $color-secondary;
        border: 2px solid purple;
        height: 320px;
        opacity: 0.7;
        width: 480px;
    }
    .textPurpleScreen{
        color: $color-secondary;
        font-family: $font-primary;
        font-size: 15px;
        font-weight: bolder;
        position: relative;
        top: 50px;
        z-index: 3;
    }
}