// Diseño para expandir Gif

#overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s ease;
    visibility: hidden; // OCULTAR hidden
    //opacity: 1;
    .slideshow{
    width: 70%;
    height: 60%;
    background-color: rgba(255, 255, 255, .9);
    color: $color-tertiary;
    position: relative; // para los elementos
    display: flex;
    justify-content: center;
    #gifMax{ 
        //border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 245px;
        left: 17%;
        margin-left: 20px;
        margin-right: 20px;
        object-fit: contain;
        position: relative;
        top: 10%;
        width: 318px;
    }
    #btnCloseMax{
    position: absolute;
    top: -15%;
    right: -10%;
    display: flex;  // posiblemente no lo requiero por ser una imagen
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    height: 20px;
    width: 20px;
    &:hover{
        transform: scale(1.2);
        cursor: pointer;
        }
    }
    .btnLeftMax{
        display: none;
    }
    .btnRightMax{
        display: none;
    }
    .captions{
        margin-left: 20px;
        .infoMax{
            #userMax{
                color: $color-tertiary;
                font-family: $font-secondary;
                font-size: 15px;
                position: relative;
                right: 280px;
                top: 290px;
            }
            #titleMax{
                color: $color-tertiary;
                font-family: $font-secondary;
                font-size: 16px;
                font-weight: bold;
                position: relative;
                right: 280px;
                top: 300px;
            }
        }
        .iconsMax{
            #btnFavMax{
                border: none;
                height: 18px;
                position: absolute;
                right: 10%;
                top: 105%;
                width: 20px;
            }
            #btnDownloadMax{
                border: solid 1px $color-quaternary;
                border-radius: 6px;
                height: 36px;
                opacity: 0.5;
                position: absolute;
                right: -10%;
                top: 102%;
                width: 36px;
            }
        }
    }
}

}

/* Desktop 1366px*/
@media (min-width: 1366px){ 
    #overlay{
        .slideshow{
            top: -110px;
        #gifMax{
            height: 385px;
            left: 18%;
            top: 22%;
            width: 695px;
        }
        #btnCloseMax{
            height: 16px;
            right: -2%;
            width: 16px;
            top: 35px;
        }
        .btnLeftMax{
            background-color: $color-primary;
            border: 1px solid $color-secondary;
            display: flex;
            height: 40px;
            justify-content: center;
            left: 8%;
            position: absolute;
            top: 70%;
            width: 40px;
            z-index: 5;
            //HOVER
        }
        .btnRightMax{
            background-color: $color-primary;
            border: 1px solid $color-secondary;
            display: flex;
            height: 40px;
            justify-content: center;
            left: 94%;
            position: absolute;
            top: 70%;
            width: 40px;
            z-index: 5;
            //HOVER
        }
        .captions{
            .infoMax{
                #userMax{
                    right: 515px;
                    top: 490px;
                }
                #titleMax{
                    right: 515px;
                    top: 500px;
                }
            }
            .iconsMax{
                #btnFavMax{
                    border: solid 1px #CED7E1;
                    border-radius: 6px;
                    height: 36px;
                    opacity: 0.5;
                    right: 15%;
                    top: 130%;
                    width: 36px;
                }
                #btnDownloadMax{
                    right: 9%;
                    top: 130%;
                }
            }
        }
    }
    }
}