// Diseño para expandir Gif

/*.cardTGif{
    display: inline-block;
    position: relative;
}*/

/*.cardTGif.active{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}   

.cardTGif img {
    z-index: 1;
}

.cardTGif.active::after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 0;
}*/

//2do Intento

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 199, 46, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s ease;
    visibility: hidden; // OCULTAR hidden
    opacity: 0;
}

.slideshow{
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, .9);
    color: black; //$color-tertiary;
    position: relative; // para los elementos
    display: flex;
    justify-content: center;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.btnCloseMax{
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;  // posiblemente no lo requiero por ser una imagen
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    &:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
}
//34 faltan estilos de botones individuales y generales
//37 media queries