/* Mobile first 375px*/
body{
    display: flex;
    flex-direction: column;
    transition: 0.7s ease all;
    //dark version
    &.dark{
        background-color: $color-grey;
    }
}

main{
    min-height: 900px;
    text-align: center;
    transition: 0.7s ease all;
    //dark version
    body.dark & {
        #container-search{
            h1{
                color: $color-primary;
            }
            #btnsearch{
                #iconsearch1{
                display: none;
                }
                #iconsearch2dark{
                display: block;
                }
            }
            .src{
                background-color: $color-grey;
                border: 1px solid $color-primary;
                color: $color-primary;
                &::placeholder{
                    color: $color-quaternary;
                }
            }
            h3{
                color: $color-primary;
            }
            hr{
                border: 1px solid $color-primary;
            }
            #trendingSection{
                color: $color-primary;
            }
            #sections{
                color: $color-primary;
            }
            .btn-ver{
                background-color: $color-grey;
                border: 1px solid $color-primary;
                color: $color-primary;
                &:hover{
                    color: $color-tertiary;
                    background-color: $color-primary;
                }
            }
        }
        #fav{
            h2{
                color: $color-primary;
            }
            .btn-ver{
                background-color: $color-grey;
                border: 1px solid $color-primary;
                color: $color-primary;
                &:hover{
                    color: $color-tertiary;
                    background-color: $color-primary;
                }
            }
        }
        #mine{
            h2{
                color: $color-primary;
            }
            .btn-ver{
                background-color: $color-grey;
                border: 1px solid $color-primary;
                color: $color-primary;
                &:hover{
                    color: $color-tertiary;
                    background-color: $color-primary;
                }
            }
        }
        #gallery{
            background-color: #222326;
            h2{
                color: $color-primary;
            }
            p{
                color: $color-primary;
            }
            .trending-slider{
                background-color: #222326;
            }
        }
    }

    #container-search{
        min-height: 470px;
        h1{
            color: $color-secondary;
            font-family: $font-primary;
            font-size: 25px;
            line-height: 35px;
            margin: 7px 44px 31px 45px;
            br{
                display: none;
            }
        }
        span{
            color: $color-details;
        }
        #guys{
            position: relative;
            top: 4px;
            height:130px;
            width: 273px;
        }
        .boxsearch{
            margin: 0 auto;
            height: 50px;
            width: 334px;
            &:focus-within{
                box-shadow: 0 0 3px rgba ( 0, 0, 0, 0.3);
            }
            input{
                padding-left: 10px;
            }
            #iconsearch2dark{
                display: none;
            }
            .src{
                border: 1px solid $color-secondary;
                border-radius: 40px;
                color: $color-tertiary;
                font-family: $font-secondary;
                height: 50px;
                padding-right: 80px;
                width: 334px;
                &::placeholder{
                    color: #6B7989;
                    font-size: 16px;
                    text-align: center;
                }
            }
            button{
                background: none;
                border: none;
                cursor: pointer;
                position: relative;
                left: 145px;
                top: -35px;
                z-index: 1;
            }
        }
        .boxresults{
            max-height: 200px;
            overflow-y: auto;
            transition: visibility 0.1 s, opacity 0.1s;
        }
        .boxresults--visible{
            visibility: visible;
            opacity: 1;
        }
        h3{
            color: $color-secondary;
            font-family: $font-primary;
            font-size: 16px;
            margin-top: 36px;
            height: 25px;
        }
        #trendingSection{
            color: $color-secondary;
            font-family: $font-primary;
            font-size: 14px;
            min-height: 50px;
            line-height: 24px;
            margin: 0 auto;
            padding-bottom: 35px;
            text-transform: capitalize;
            width: 225px;
        }
        hr{
            border: 1px solid $color-quaternary;
            margin: 0 auto;
            opacity: 0.5;
            width: 157px;
        }
        h2{
            color: $color-secondary;
            font-family: $font-primary;
            font-size: 25px; 
            padding-top: 43px;
        }
        #grid-search{
            column-gap: 21px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            margin: 46px 21px 78px 21px;
            row-gap: 25px;
            .img{
                height:120px;
                width: 156px;
            }
        }
        .btn-ver{
            background-color: $color-primary;
            border: 1px solid $color-secondary;
            border-radius: 100px;
            font-family: $font-primary;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 79px;
            padding: 18px 31.5px 16px 32.5px;
            text-decoration: none;
            &:hover{
                background-color: $color-secondary;
                color: $color-primary;
            }
        }
    }

    #fav{
        min-height: 1125px;
        #icon-favoritos{
            margin: 5px 7px;
        }
        h2{
            color: $color-secondary;
            font-family: $font-primary;
            font-size: 20px; 
        }
        .container-fav{
            column-gap: 21px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            margin: 46px 21px 78px 21px;
            row-gap: 25px;
            .gif{
                height:120px;
                width: 156px;
            }
        }
        .btn-ver{
            background-color: $color-primary;
            border: 1px solid $color-secondary;
            border-radius: 100px;
            font-family: $font-primary;
            font-size: 13px;
            font-weight: bold;
            padding: 18px 31.5px 16px 32.5px;
            text-decoration: none;
            &:hover{
                background-color: $color-secondary;
                color: $color-primary;
            }
        }
    }
    
    #mine{
        min-height: 860px;
        #icon-mis-gifos{
            margin: 5px 6px;
        }
        h2{
            color: $color-secondary;
            font-family: $font-primary;
            font-size: 20px; 
        }
        .container-mine{
            column-gap: 21px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            margin: 46px 21px 78px 21px;
            row-gap: 25px;
            .gif{
                height:120px;
                width: 156px;
            }
        }
        .btn-ver{
            background-color: $color-primary;
            border: 1px solid $color-secondary;
            border-radius: 100px;
            font-family: $font-primary;
            font-size: 13px;
            font-weight: bold;
            padding: 18px 31.5px 16px 32.5px;
            text-decoration: none;
            &:hover{
                background-color: $color-secondary;
                color: $color-primary;
            }
        }
    
    }

    #create{
        height: 572px;
        #cameraimg{
            position: absolute;
            left: 140px;
            top: 213px;
        }
        #screen-container{
            border: 1px solid $color-secondary;
            height: 390px;
            margin: 4px auto 29px auto;
            width: 688px;
            h2{
                color: $color-secondary;
                font-family: $font-primary;
                font-size: 25px;
                line-height: 35px;
                margin: 134px 68px 3px 70px;
                text-align: center;
                span{
                    color: $color-details;
                }
            }
            p{
                color: $color-tertiary;
                font-family: $font-secondary;
                font-size: 16px;
                line-height: 30px;
            }
        }
        #number-counting{
            .btn-counting{
                background-color: $color-primary;
                border: 1px solid $color-secondary;
                border-radius: 100%;
                color: $color-secondary;
                font-family: $font-secondary;
                font-size: 18px;
                height: 32px;
                margin-right: 25px;
                width: 32px;
                &:hover{
                    background-color: $color-secondary;
                    color: $color-primary;
                }
            }
        }
        hr{
            border: 4px solid $color-secondary;
            margin: 19px auto 20px auto;
            width: 790px;
        }
        #tapeimg{
            position: absolute;
            right: 160px;
            top: 475px;
        }
    }

    #gallery{
        background-color: #F3F5F8;
        height: 430px;
        h2{
            color: $color-secondary;
            font-family: $font-primary;
            font-size: 20px;
            padding-top:46px;
        }
        p{
            color: $color-tertiary;
            font-family: $font-secondary;
            font-size: 16px;
            line-height: 20px;
            padding: 7px 21px 32px 21px;
        }
        .trending-slider{
            background-color: aliceblue;
            overflow-x: auto;
            &::-webkit-scrollbar{
                width: 0;
                }
            .btn-slider{
                display: none;
            }
            ul{
                li{
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    margin-left: 22px;
                    img{
                        height: 187px;
                        margin-right: 22px;
                        width: 243px;
                    }
                    .overlay{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: rgba(82,144,186, 0.781);
                        width: 100%;
                        height: 0;
                        transition: 1s ease;
                        overflow: hidden;
                        border-radius: 5%;
                        h3{
                        color: #ffffff;
                        font-size: 1.2em;
                        font-weight: 500;
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        text-align: center;
                        transform: translate (-50%, -50%);
                        }
                        &:hover .overlay{
                        height: 100%;
                        cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

/* Desktop 1440px*/
@media (min-width: 1366px){ 
    main{
        min-height: 1395px;
        #container-search{
            min-height: 665px;
            h1{
                font-size: 35px;
                line-height: 50px;
                margin-top:76px;
                margin-bottom: 24px;
                br{
                    display: block;
                }
            }
            #guys{
                height:190px;
                width: 399px;
            }
            .boxsearch{
                width: 551px;
                #search{
                    padding-right: 300px;
                    width: 551px;
                }
                button{
                    left: 245px;
                }
            }
            h3{
                font-size: 18px;
                margin-bottom: 7px;
                margin-top: 73px;
            }
            #trendingSection{
                font-size: 16px;
                width: 402px;
            }
        }
        #gallery{
            height: 640px;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 18px;
                br{
                    display: none;
                }
            }
            .btn-slider-left{
                background-color: $color-primary;
                border: 1px solid $color-secondary;
                display: block;
                height: 40px;
                left: 94px;
                width: 40px;
                position: absolute;
                top: 1480px;
                z-index: 2;
                &:hover{
                    background-color: $color-secondary;
                    }
            }
            .btn-slider-right{
                background-color: $color-primary;
                border: 1px solid $color-secondary;
                top: 1480px;
                display: block;
                height: 40px;
                width: 40px;
                position: absolute;
                right: 92px;
                z-index: 3;
                &:hover{
                    background-color: $color-secondary;
                }
            }
            .trending-slider{
                width: 1150px;
                ul{
                    padding: 53px 157px 182px 156px;
                    li{
                        img{
                            height: 275px;
                            margin-right: 22px;
                            width: 357px;
                        }
                    }
                }
            }
        }
    }
}