
.gridFormat{ 
    column-gap: 21px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 46px 21px 78px 21px;
    row-gap: 25px;
    img{
        height:120px;
        width: 156px;
    }
}


@media (min-width: 1080px){ 
    .gridFormat{ 
        column-gap: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 46px 20px 78px 20px;
        row-gap: 28px;
    }
}