/* Variables fuentes */
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

/* Colores */
$color-primary: white;
$color-secondary: #572EE5;
$color-tertiary: #000000;
$color-quaternary: #9CAFC3;
$color-details: #50E3C2;

/* Dark mode */
$color-grey:#37383C;
