@charset "UTF-8";
/*Archivos parciales - segmentación de estilos y funcionalidades*/
/* Variables fuentes */
/* Colores */
/* Dark mode */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mobile first 375px*/
header {
  background-color: white;
  border-top: 5px solid #572EE5;
  height: 100px;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

body.dark header {
  background-color: #37383C;
  border-top: 5px solid #000000;
}

body.dark header .navbar-container {
  background-color: #37383C;
}

body.dark header hr {
  border: 1px solid #9CAFC3;
  margin: 0 auto;
  opacity: 0.5;
  width: 41px;
}

body.dark header #container-logo #gifos {
  color: white;
}

body.dark header #burgerdark {
  display: block;
}

body.dark header #burger {
  display: none;
}

body.dark header #closedark {
  display: block;
}

body.dark header #closeicon {
  display: none;
}

body.dark header .navbar-link {
  color: white;
}

body.dark header .navbar-link:active {
  background-color: #9CAFC3;
}

body.dark header .btn-mygifos {
  background-color: #37383C;
  border: 1px solid white;
}

body.dark header .btn-mygifos #pluswhite {
  display: blocK;
}

body.dark header .btn-mygifos #plus {
  display: none;
}

body.dark header .btn-mygifos:hover {
  background-color: white;
}

body.dark header .btn-mygifos:active {
  background-color: #9CAFC3;
}

header #container-logo {
  height: 48.8px;
  margin: 29px 245px 30px 5px;
  width: 48.8px;
}

header #container-logo #gifos {
  color: #572EE5;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  right: -5px;
  top: -33px;
  z-index: 2;
}

header #logodesktop {
  display: none;
}

header #navbar-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .navbar-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  position: absolute;
  top: 100px;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
  width: 100%;
  z-index: 2;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

header #burgerdark {
  display: none;
}

header #closedark {
  display: none;
}

header li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  list-style: none;
  margin-top: 17px;
}

header a {
  text-decoration: none;
}

header hr {
  color: white;
  margin: 0 auto;
  width: 45px;
}

header .navbar-link {
  color: white;
  padding-top: 20px;
}

header .navbar-link:hover {
  -webkit-text-decoration: underline #50E3C2;
          text-decoration: underline #50E3C2;
}

header .navbar-link:active {
  color: #9CAFC3;
}

header #navbar-header:target .navbar-container {
  height: 484px;
}

header #navbar-header:target .open {
  display: none;
}

header #navbar-header:target .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .close {
  display: none;
}

header .btn-mygifos {
  display: none;
}

/* Desktop 1440px*/
@media (min-width: 1366px) {
  header {
    background-color: white;
    height: 90px;
  }
  header #container-logo {
    margin-top: 18px;
    margin-left: 156px;
  }
  header #container-logo #gifos {
    font-size: 18px;
    right: -10px;
    top: -35px;
  }
  header #logomobile {
    display: none;
  }
  header #logodesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar-menu-mobile {
    display: none;
  }
  header .navbar-container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
    width: 100%;
  }
  header a {
    border: none;
  }
  header hr {
    display: none;
  }
  header .navbar-link {
    color: #572EE5;
    font-size: 13px;
    padding-left: 45px;
    text-transform: uppercase;
  }
  header .btn-mygifos {
    border: 1px solid #572EE5;
    border-radius: 100%;
    display: block;
    height: 54px;
    margin: 23px 156px 18px 53px;
    padding: 19px;
    width: 54px;
  }
  header .btn-mygifos #pluswhite {
    display: none;
  }
  header .btn-mygifos:hover {
    background-color: #572EE5;
  }
  header .btn-mygifos:hover #pluswhite {
    display: block;
  }
  header .btn-mygifos:hover #plus {
    display: none;
  }
  header .btn-mygifos:active {
    background-color: #9CAFC3;
  }
  header .btn-mygifos #plusblack {
    display: none;
  }
}

/* Mobile first 375px*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

body.dark {
  background-color: #37383C;
}

main {
  min-height: 900px;
  text-align: center;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

body.dark main #container-search h1 {
  color: white;
}

body.dark main #container-search #btnsearch #iconsearch1 {
  display: none;
}

body.dark main #container-search #btnsearch #iconsearch2dark {
  display: block;
}

body.dark main #container-search .src {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #container-search .src::-webkit-input-placeholder {
  color: #9CAFC3;
}

body.dark main #container-search .src:-ms-input-placeholder {
  color: #9CAFC3;
}

body.dark main #container-search .src::-ms-input-placeholder {
  color: #9CAFC3;
}

body.dark main #container-search .src::placeholder {
  color: #9CAFC3;
}

body.dark main #container-search h3 {
  color: white;
}

body.dark main #container-search hr {
  border: 1px solid white;
}

body.dark main #container-search #trendingSection {
  color: white;
}

body.dark main #container-search #sections {
  color: white;
}

body.dark main #container-search .btn-ver {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #container-search .btn-ver:hover {
  color: #000000;
  background-color: white;
}

body.dark main #fav h2 {
  color: white;
}

body.dark main #fav .btn-ver {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #fav .btn-ver:hover {
  color: #000000;
  background-color: white;
}

body.dark main #mine h2 {
  color: white;
}

body.dark main #mine .btn-ver {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #mine .btn-ver:hover {
  color: #000000;
  background-color: white;
}

body.dark main #create #cameraimg {
  display: none;
}

body.dark main #create #cameraimgdark {
  display: inline;
  left: -452px;
  position: relative;
  top: 140px;
}

body.dark main #create #tapeimg {
  display: none;
}

body.dark main #create #tapeimgdark {
  bottom: 255px;
  display: inline;
  left: 480px;
  position: relative;
}

body.dark main #create #screen-container {
  border: 1px solid white;
}

body.dark main #create #screen-container h2 {
  color: white;
}

body.dark main #create #screen-container p {
  color: white;
}

body.dark main #create #number-counting .btn-counting {
  background-color: #37383C;
  border: 1px solid white;
  color: white;
}

body.dark main #create #number-counting .btn-counting:hover {
  background-color: white;
  color: #000000;
}

body.dark main #create hr {
  border: 4px solid white;
}

body.dark main #gallery {
  background-color: #222326;
}

body.dark main #gallery h2 {
  color: white;
}

body.dark main #gallery p {
  color: white;
}

body.dark main #gallery .trending-slider {
  background-color: #222326;
}

main #container-search {
  min-height: 470px;
}

main #container-search h1 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 35px;
  margin: 7px 44px 31px 45px;
}

main #container-search h1 br {
  display: none;
}

main #container-search span {
  color: #50E3C2;
}

main #container-search #guys {
  position: relative;
  top: 4px;
  height: 130px;
  width: 273px;
}

main #container-search .boxsearch {
  margin: 0 auto;
  height: 50px;
  width: 334px;
  /*#huge_list{
                background-color: $color-primary;
                li{
                    color: $color-quaternary;
                }
            }*/
}

main #container-search .boxsearch input {
  padding-left: 10px;
}

main #container-search .boxsearch .inputOpen {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: white;
  border: 1px solid #572EE5;
  border-radius: 0px 0px 27px 27px;
  border-collapse: collapse;
  border-top: hidden;
  color: #9CAFC3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 23.5px;
  position: relative;
  text-decoration: none;
  z-index: 2;
}

main #container-search .boxsearch .inputOpen li {
  list-style: none;
}

main #container-search .boxsearch input::-webkit-calendar-picker-indicator {
  display: none;
}

main #container-search .boxsearch #iconsearch2dark {
  display: none;
}

main #container-search .boxsearch .src {
  border: 1px solid #572EE5;
  border-radius: 27px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  height: 50px;
  padding-right: 80px;
  width: 334px;
}

main #container-search .boxsearch .src::-webkit-input-placeholder {
  color: #6B7989;
  font-size: 16px;
  text-align: center;
}

main #container-search .boxsearch .src:-ms-input-placeholder {
  color: #6B7989;
  font-size: 16px;
  text-align: center;
}

main #container-search .boxsearch .src::-ms-input-placeholder {
  color: #6B7989;
  font-size: 16px;
  text-align: center;
}

main #container-search .boxsearch .src::placeholder {
  color: #6B7989;
  font-size: 16px;
  text-align: center;
}

main #container-search .boxsearch .srcOpen {
  border-radius: 27px 27px 0px 0px;
  border-bottom: 1px solid #9CAFC3;
}

main #container-search .boxsearch button {
  border: none;
  cursor: pointer;
  position: relative;
  left: 145px;
  top: -35px;
  z-index: 1;
}

main #container-search h3 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 36px;
  height: 25px;
}

main #container-search #trendingSection {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: auto;
  min-height: 50px;
  padding-bottom: 35px;
  text-transform: capitalize;
  width: 225px;
  word-wrap: break-word;
}

main #container-search hr {
  border: 1px solid #9CAFC3;
  margin: 0 auto;
  opacity: 0.5;
  width: 157px;
}

main #container-search h2 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding-top: 43px;
}

main #container-search #activeSearch {
  display: none;
}

main #container-search #grid-search {
  -webkit-column-gap: 21px;
          column-gap: 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 46px 21px 78px 21px;
  row-gap: 25px;
}

main #container-search #grid-search .img {
  height: 120px;
  width: 156px;
}

main #container-search .btn-ver {
  background-color: white;
  border: 1px solid #572EE5;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 79px;
  padding: 18px 31.5px 16px 32.5px;
  text-decoration: none;
}

main #container-search .btn-ver:hover {
  background-color: #572EE5;
  color: white;
}

main #fav {
  min-height: 1125px;
}

main #fav #icon-favoritos {
  margin: 5px 7px;
}

main #fav h2 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

main #fav .container-fav {
  -webkit-column-gap: 21px;
          column-gap: 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 46px 21px 78px 21px;
  row-gap: 25px;
}

main #fav .container-fav .gif {
  height: 120px;
  width: 156px;
}

main #fav .btn-ver {
  background-color: white;
  border: 1px solid #572EE5;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 18px 31.5px 16px 32.5px;
  text-decoration: none;
}

main #fav .btn-ver:hover {
  background-color: #572EE5;
  color: white;
}

main #mine {
  min-height: 860px;
}

main #mine #icon-mis-gifos {
  margin: 5px 6px;
}

main #mine h2 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

main #mine .container-mine {
  -webkit-column-gap: 21px;
          column-gap: 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 46px 21px 78px 21px;
  row-gap: 25px;
}

main #mine .container-mine .gif {
  height: 120px;
  width: 156px;
}

main #mine .btn-ver {
  background-color: white;
  border: 1px solid #572EE5;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 18px 31.5px 16px 32.5px;
  text-decoration: none;
}

main #mine .btn-ver:hover {
  background-color: #572EE5;
  color: white;
}

main #create {
  max-block-size: 572px;
}

main #create #cameraimg {
  left: -452px;
  position: relative;
  top: 140px;
}

main #create #cameraimgdark {
  display: none;
}

main #create #luzimg {
  left: -455px;
  position: relative;
  top: 137px;
  height: 151px;
  width: 91px;
}

main #create #screen-container {
  border: 1px solid #572EE5;
  height: 390px;
  margin: 4px auto 29px auto;
  position: relative;
  top: -140px;
  width: 688px;
}

main #create #screen-container #frame1 {
  border-left: 1px solid #50E3C2;
  border-top: 1px solid #50E3C2;
  height: 25px;
  margin: 20px;
  width: 27px;
}

main #create #screen-container #frame2 {
  border-right: 1px solid #50E3C2;
  border-top: 1px solid #50E3C2;
  height: 27px;
  left: 620px;
  margin: 20px;
  position: relative;
  top: -45px;
  width: 25px;
}

main #create #screen-container #frame3 {
  border-bottom: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
  height: 27px;
  margin: 20px;
  position: relative;
  top: -35px;
  width: 25px;
}

main #create #screen-container #frame4 {
  border-bottom: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
  height: 25px;
  margin: 20px;
  margin-left: 641px;
  position: relative;
  top: -80px;
  width: 27px;
}

main #create #screen-container h2 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 35px;
  margin: 134px 68px 3px 70px;
  position: relative;
  text-align: center;
  top: -90px;
}

main #create #screen-container h2 span {
  color: #50E3C2;
}

main #create #screen-container p {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  position: relative;
  top: -85px;
}

main #create #number-counting .btn-counting {
  background-color: white;
  border: 1px solid #572EE5;
  border-radius: 100%;
  color: #572EE5;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  height: 32px;
  margin-right: 25px;
  position: relative;
  top: -140px;
  width: 32px;
}

main #create #number-counting .btn-counting:hover {
  background-color: #572EE5;
  color: white;
}

main #create hr {
  border: 4px solid #572EE5;
  margin: 19px auto 20px auto;
  position: relative;
  top: -140px;
  width: 790px;
}

main #create #tapeimg {
  position: relative;
  left: 480px;
  bottom: 255px;
}

main #create #tapeimgdark {
  display: none;
}

main #gallery {
  border: 2px solid crimson;
  background-color: #F3F5F8;
  height: 430px;
}

main #gallery h2 {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 46px;
}

main #gallery p {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 7px 21px 32px 21px;
}

main #gallery .btn-slider {
  display: none;
}

main #gallery .trending-slider {
  background-color: aliceblue;
  overflow-x: auto;
}

main #gallery .trending-slider::-webkit-scrollbar {
  width: 0;
}

main #gallery .trending-slider ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-left: 22px;
}

main #gallery .trending-slider ul li img {
  height: 187px;
  margin-right: 22px;
  width: 243px;
}

main #gallery .trending-slider ul li .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(82, 144, 186, 0.781);
  width: 100%;
  height: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  overflow: hidden;
  border-radius: 5%;
}

main #gallery .trending-slider ul li .overlay h3 {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
  position: absolute;
  top: 50%;
  right: 50%;
  text-align: center;
  -webkit-transform: translate -50%, -50%;
          transform: translate -50%, -50%;
}

main #gallery .trending-slider ul li .overlay:hover .overlay {
  height: 100%;
  cursor: pointer;
}

/* Desktop 1440px*/
@media (min-width: 1366px) {
  main #container-search {
    min-height: 665px;
  }
  main #container-search h1 {
    font-size: 35px;
    line-height: 50px;
    margin-top: 76px;
    margin-bottom: 24px;
  }
  main #container-search h1 br {
    display: block;
  }
  main #container-search #guys {
    height: 190px;
    width: 399px;
  }
  main #container-search .boxsearch {
    width: 551px;
  }
  main #container-search .boxsearch #search {
    padding-right: 300px;
    width: 551px;
  }
  main #container-search .boxsearch button {
    left: 245px;
  }
  main #container-search h3 {
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 73px;
  }
  main #container-search #trendingSection {
    font-size: 16px;
    width: 402px;
  }
  main #container-search #grid-search {
    -webkit-column-gap: 29px;
            column-gap: 29px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 46px 21px 78px 21px;
    row-gap: 28px;
  }
  main #container-search #grid-search .img {
    height: 200px;
    width: 260px;
  }
  main #gallery {
    height: 640px;
  }
  main #gallery h2 {
    font-size: 25px;
  }
  main #gallery p {
    font-size: 18px;
  }
  main #gallery p br {
    display: none;
  }
  main #gallery #btn-slider-left {
    background-color: white;
    border: 1px solid #572EE5;
    display: block;
    height: 40px;
    position: relative;
    right: -3%;
    top: 35%;
    width: 40px;
    z-index: 2;
  }
  main #gallery #btn-slider-left:hover {
    background-color: #572EE5;
  }
  main #gallery #btn-slider-right {
    background-color: white;
    border: 1px solid #572EE5;
    display: block;
    height: 40px;
    left: 92%;
    position: relative;
    top: -26%;
    width: 40px;
    z-index: 3;
  }
  main #gallery #btn-slider-right:hover {
    background-color: #572EE5;
  }
  main #gallery .trending-slider {
    width: 1150px;
    padding: 53px 100px 0 100px;
  }
  main #gallery .trending-slider ul li img {
    height: 275px;
    margin-right: 22px;
    width: 357px;
  }
}

/* Mobile first 375px*/
footer {
  background-color: white;
  border-bottom: 5px solid #572EE5;
  font-family: "Roboto", sans-serif;
  height: 204px;
}

body.dark footer {
  background-color: #37383C;
  border-bottom: 5px solid #000000;
}

body.dark footer .r15px {
  color: white;
}

body.dark footer .r14px {
  color: white;
}

body.dark footer #socialmedia i {
  color: #CDD6E0;
}

body.dark footer #socialmedia i:hover {
  color: white;
}

footer .r15px {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0 auto;
  padding-top: 47px;
  text-align: center;
}

footer #socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 24px 139px 46px 140px;
}

footer #socialmedia i {
  color: #CDD6E0;
}

footer #socialmedia i:hover {
  color: #572EE5;
}

footer .r14px {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 47.8px 76px 28px 83px;
  text-align: center;
}

/* Desktop 1440px*/
@media (min-width: 1366px) {
  footer {
    border: 2px solid cyan;
    height: 116px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .r15px {
    font-size: 13px;
    margin: 49.5px 17px 48.3px 150px;
    padding: 0;
  }
  footer #socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    width: 96px;
  }
  footer #socialmedia a {
    height: 20px;
    width: 20px;
  }
  footer .r14px {
    font-size: 13px;
    margin: 49.5px 158px 51.5px 630px;
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */